<div *ngIf="selectedUni" >
</div>

<div [ngSwitch]="selectedCategory" >

  <mat-nav-list >
    <a mat-list-item  (click)="navigate('')"  > <mat-icon  >dashboard</mat-icon> <div style="width: 10px;" ></div> Dashboard</a>
    <a mat-list-item  (click)="navigate('calender')"  > <mat-icon>event</mat-icon> <div style="width: 10px;" ></div> Calender</a>
    <a mat-list-item  (click)="navigate('account')"  ><mat-icon>account_circle</mat-icon> <div style="width: 10px;" ></div>Account</a>
  </mat-nav-list>


</div>