<div *ngIf="selectedUni" >
</div>

<div [ngSwitch]="selectedCategory" >

  <mat-nav-list >
    <a mat-list-item  (click)="navigate('')"  >  Calender</a>
    <a mat-list-item  (click)="navigate('surgery')"  >Add Surgery</a>

    <a mat-list-item  (click)="navigate('resource')"  >Resource</a>
    <a mat-list-item  (click)="navigate('surgent')"  >Surgeon</a>
    <a mat-list-item  (click)="navigate('users')"  >Users</a>
    <a mat-list-item  (click)="navigate('account')"  >Account</a>
    <a mat-list-item  (click)="navigate('my-team')"  >My Team</a>
    <a mat-list-item  (click)="navigate('add-user')"  >Add User</a>
    <a mat-list-item  (click)="navigate('login')"  >Login</a>

    <a mat-list-item  (click)="navigate('account')"  ></a>

  </mat-nav-list>



</div>