.avatar {
    width: 100%;
    border-radius: 30px;
  }

  .all{
      padding: 10px;
      border: 2px solid black;
      border-radius: 5px;
      background-color: white;
  }

  .quote{
      font-size: 20px;
      line-height: 5px;
  }