<div *ngIf="selectedUni" >
</div>

<div [ngSwitch]="selectedCategory" >

  <mat-nav-list >
    <a mat-list-item  (click)="navigate('')"  > <mat-icon  >dashboard</mat-icon> <div style="width: 10px;" ></div> Dashboard</a>
    <a mat-list-item  (click)="navigate('calender')"  > <mat-icon>event</mat-icon> <div style="width: 10px;" ></div> Calender</a>
    <a mat-list-item  (click)="navigate('resource')"  ><mat-icon>local_pharmacy</mat-icon> <div style="width: 10px;" ></div>Resource</a>
    <a mat-list-item class="mobile" (click)="navigate('users')"><mat-icon>people_alt</mat-icon> <div style="width: 10px;" ></div>Users</a>
    <a mat-list-item  (click)="navigate('add-user')"  ><mat-icon>person_add_alt</mat-icon> <div style="width: 10px;" ></div>Add User</a>
    <a mat-list-item  (click)="navigate('account')"  ><mat-icon>account_circle</mat-icon> <div style="width: 10px;" ></div>Account</a>
  </mat-nav-list>


</div>