<div class="container">
    <div class="row mt-5" >
        <div class="col-6" style="border-right: solid black 3px;" >
            <div class="row" >
                <div class="col-12" >
                    <img src="assets/app.png" >
                </div>
            </div>
            <div class="row" >
                <div class="col-12" >
                    <p>
                        Lorem ipsum dolor sit, amet consectetur 
                        adipisicing elit. Odit magni, consequatur ad impedit minima 
                        sed aliquid, natus quis repudiandae mollitia quo magnam 
                        quisquam nesciunt veniam maiores? Unde facilis esse omnis.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6" >
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui necessitatibus totam illum recusandae dolores eum possimus aliquid, officiis, cumque ratione provident? Nam accusantium in saepe eligendi veniam sunt est debitis.
            </p>
            <form class="example-form">
                <mat-form-field class="example-full-width" >
                  <mat-label>Favorite food</mat-label>
                  <input matInput  >
                </mat-form-field>
              
                <mat-form-field class="example-full-width" >
                    <mat-label>Favorite food</mat-label>
                    <input matInput  type="password">
                  </mat-form-field>
              </form>
        </div>
    </div>
</div>