.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  mat-toolbar{
    background-color: white;
    color: black;
  }
  
  
  .label-uni{
    margin-left: 10px;
    font-size: 14px;
    background-color: yellow;
    color: red;
    padding: 2px;
    font-style: bold;
    border-radius: 3px;
    font-weight: bold;
  }
  
  .brand-name{
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    font-family: 'Rochester', cursive;
  }
  
  .brand-name:hover{
    cursor: pointer;
  }
  
  @media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    .brand-name{
      display: block;
    }
  
    .label-uni{
      margin-left: 2px;
    }
  }
  @media only screen and (max-width: 600px){
  /*Big smartphones [426px -> 600px]*/
  .brand-name{
    display: block;
    font-family: 'Pacifico', cursive;
  }
  
  .label-uni{
    margin-left: 2px;
  }
  
  
  }
  @media only screen and (max-width: 425px){
  /*Small smartphones [325px -> 425px]*/
  .brand-name{
    display: block;
    font-family: 'Pacifico', cursive;
  }
  
  .label-uni{
    margin-left: 0;
  }
  }
  
  .uni-img{
    width: 20px;
  }
  
  .pop-up-txt:hover{
    
  }
  
  .brand-img-top{
    width: 150px;
    cursor: pointer;
  }