.example-chip-list{
    width: 100%;
  }

.fav-box{
    border-right: solid white 5px; padding: 20px;border-radius: 5px;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: white;
  background-color: #009688;
  opacity: 1;
}
