<div class="container mt-3 mb-5">
    <div class="col-12">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
            <!-- <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i = index">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell >
                    <div *ngIf="element[column] != 'Completed'">
                        {{element[column]}}
                    </div>
                    <div *ngIf="element[column] == 'Completed'">
                        {{element[column]}}
                    </div>
                </td>
            </ng-container> -->

            <!-- Position Column -->
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Day">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.Day}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Time">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.Time}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Completed">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"  >
                    <div *ngIf="!element.Completed" >
                        <mat-icon  >
                            incomplete_circle
                        </mat-icon>
                    </div>
                    <div *ngIf="element.Completed" >
                        <mat-icon color="'primary" >
                            check_circle
                        </mat-icon>
                    </div>
                </td>
                
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="mb-3">

                            <div class=""> {{element.patient_details.patient_name}} </div>
                            <div class=""> {{element.patient_details.email}} </div>
                            <div class=""> {{element.patient_details.notes}} </div>
                            <div  *ngIf="!element.Completed" class="row mt-3" >
                                <div class="col-12" >
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Add Minutes</mat-label>
                                        <input  type="number" [formControl]="real_value" matInput>
                                      </mat-form-field>
                                </div>
                                <div class="col-12" >
                                    <button (click)="addRealTime(element.id)" mat-flat-button color="primary">Add Real Time</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
    </div>
</div>