<!-- <div class="container mb-5" >
    <div class="row mt-5" >
        <div class="col-9" >
            <div class="row" >
                <div class="col-12" >
                    <h1>Surgery Types</h1>
                </div>
                <div class="col-12" >
                    <app-pie-chart></app-pie-chart>
                </div>
                <div class="col-12" >
                    <app-line-chart></app-line-chart>
                </div>

                <div class="col-12" >
                    <h1>Average Surgery Times</h1>
                </div>
                <div class="col-12" >
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>

        </div>
        <div class="col-3" >
            <div class="row" >
                <div class="col-12" >
                    <mat-card class="demo-inline-calendar-card">
                        <mat-calendar ></mat-calendar>
                      </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
 -->








<div class="container mb-5" >
    <div class="row mt-5" >
        <div class="col-9" >
            <div class="row" >
                <div class="col-12" >
                    <h1>Surgery Types</h1>
                </div>
                <div class="col-12" >
                    <app-line-chart></app-line-chart>

                </div>


                <div class="col-12" >
                    <h1>Average Surgery Times</h1>
                </div>
                <div class="col-12" >
                </div>
            </div>

        </div>
        <div class="col-3" >
            <div class="row" >
                <div class="col-12" >
                    <mat-card class="demo-inline-calendar-card">
                        <mat-calendar ></mat-calendar>
                      </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-6" >
            <div class="row" >
                <div class="col-9" >
                    <app-pie-chart></app-pie-chart>

                </div>
            </div>
        </div>
        <div class="col-6" >
            <app-bar-chart></app-bar-chart>

        </div>
    </div>
    <div class="row" >
        <div class="col-12" >
            <app-table></app-table>
        </div>
    </div>
</div>



